
:root{
    --bg-color: #D5E1EF;
    --title-text-color: #1F314F;
    --paragraph-text-color: #68778D;
    --container-shadow: #CCD7E4;
    --container-bg: white;
}


body{
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

.container{
    background: var(--container-bg);
    width: 90%;
    max-width: 18rem;
    padding: 1em 1em 1.5em;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--container-shadow);
    
    
}

.container img{
    width: 100%;
    height: auto;
    max-height: 18rem;
    border-radius: 10px;
}



.text-container{
    padding: 0 1em .5em;
}


.text-container h1{
    color: var(--title-text-color);
    font-size: 22px;
    font-weight: 700;
}

.text-container p{
    color: var(--paragraph-text-color);
    font-size: 15px;
    font-weight: 400;
}























.attribution{ 
    font-size: 11px;
    text-align: center; 
    margin: 5px;
}
.attribution a{
    color: hsl(228, 45%, 44%); 
}